<!-- <button (click)="test()">Test</button> -->
<div class="network">
	<div #graphContainer id="mynetwork" class="graph-container"></div>
</div>


<div>
	<canvas id="traffic">{{testChart}}</canvas>
</div>
<div>
	<canvas id="length">{{lengthChart}}</canvas>
</div>

<!-- <div class="view-data-modal"> 
	<h2 class="view-data-title">
		{{clickedIP}}
	</h2>
	<label>Protocols</label>
</div> -->

<!-- <div>
	<canvas id="172.27.0.15">{{piCharts[172.27.0.15]}}</canvas>
</div>
<div>
	<canvas id="172.27.0.32">{{piCharts[172.27.0.32]}}</canvas>
</div>
<div>
	<canvas id="172.27.0.12">{{piCharts[172.27.0.12]}}</canvas>
</div>
<div>
	<canvas id="172.27.0.90">{{piCharts[172.27.0.90]}}</canvas>
</div>
<div>
	<canvas id="172.27.0.78">{{piCharts[172.27.0.78]}}</canvas>
</div> -->