<!-- <button (click)="test()">Test</button> -->
<div class="network">
	<div #graphContainer id="mynetwork" class="graph-container"></div>
</div>


<!-- <div *ngIf="networkGraph.nodes.length > 0" class="graph-container">
	<ngx-graph
		class="chart-container"
	    [links]="networkGraph.links"
	    [nodes]="networkGraph.nodes"
	    [legend]="false"
	    [curve]="curve"
	    [draggingEnabled]="false"
	    [fitContainer]="fitContainer"
	    [autoCenter]="autoCenter"
	    (legendLabelClick)="onLegendLabelClick($event)"
	    [enableZoom]="true"
	    [autoZoom]="true"
		>
		<ng-template #nodeTemplate let-node>
		    <svg:g class="node" (click)="clickedNode(node.label)">
		      	<svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" />
		      	<svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
		    </svg:g>
		</ng-template>
		<ng-template #linkTemplate let-link>
		    <svg:g class="edge">
		      <svg:path
		        class="line"
		        stroke-width="2"
		        marker-end="url(#arrow)" >
		      </svg:path>
		      <svg:text
		        class="edge-label"
		        text-anchor="middle">
		      <textPath
		                style="fill: #666;"
		                [attr.href]="'#' + link.id"
		                startOffset="60%">
		        {{link.label}}
		      </textPath>
		    </svg:text>
		    </svg:g>
		</ng-template>
	</ngx-graph>
</div> -->


<!-- <div>
	<canvas id="traffic">{{testChart}}</canvas>
</div>
<div>
	<canvas id="length">{{lengthChart}}</canvas>
</div> -->

<!-- <div class="view-data-modal"> 
	<h2 class="view-data-title">
		{{clickedIP}}
	</h2>
	<label>Protocols</label>
</div> -->

<!-- <div>
	<canvas id="172.27.0.15">{{piCharts[172.27.0.15]}}</canvas>
</div>
<div>
	<canvas id="172.27.0.32">{{piCharts[172.27.0.32]}}</canvas>
</div>
<div>
	<canvas id="172.27.0.12">{{piCharts[172.27.0.12]}}</canvas>
</div>
<div>
	<canvas id="172.27.0.90">{{piCharts[172.27.0.90]}}</canvas>
</div>
<div>
	<canvas id="172.27.0.78">{{piCharts[172.27.0.78]}}</canvas>
</div> -->