.graph-container {
	height: 700px; 
	width: 70%;
	margin: 0px auto;
}

.node:hover {
	cursor:pointer;
}

.selectedTab {
	background-color: #A3ADC4;
}

.navButtons {
	margin:0px auto;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.navButton {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #888888;
}

.navButton:hover {
	cursor: pointer;
}

.navButton:focus {
	outline: none;
}

#mynetwork {
    border: 5px solid #05B2DC;
    border-radius: 20px;
    background: #dddddd;
    display: inline-block;
    height: 500px;
    width: 70%;
    box-shadow: 5px 5px 5px 5px #888888;
}

.exit {
	float: right;
}

.network {
	text-align: center;
}

.bottomBut {
	text-align: center;
	display: block;
	margin:0px auto;
	font-size: 24px;
}

.view-data-modal {
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%);
	background-color: #efefef;
	text-align: center;
	width: 90%;
	height: 80%;
	border: 5px solid #05B2DC;
	border-radius: 5px;
}

.view-data-title {
	font-size: 45px;
	color: #0270B1;
	margin-top: 4px;
	margin-bottom: 4px;
}

.dataTab {
	background-color: #efefef;
}

.barChart {
	height: 80%;
	width: 45%;
	display: inline-block;
}

.piChart {
	height: 80%;
	width: 45%;
	display: inline-block;
}

.chartContainer {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.piChartContainer {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.tcTab {
	text-align: center;
}

.inputContainer {
	display: block;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.lists {
	width: 70%;
	margin: 0px auto;
}

.ipList {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	margin-right: 20px;
	border: 4px solid #05B2DC;
	width: 40%;
	background-color: #dddddd;
	border-radius: 10px;
}

.listTitle {
	color: #5B6272;
}